<h1>
  Welcome to {{ title }}!
</h1>

<nav>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/heroes">Heroes</a></li>
    <li><a routerLink="/dashboard">Dashboard</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
